:root {
  --black-dialog: rgba(35, 32, 32, 0.7);
  --black-color: #1B1B1B;
  --grey-color: #695E5E;
  --beige-color: #EFEFEF;
  --white-color: #FFFFFF;
  --blue-color: #4545C4;
  --red-color: #FD2F2F;
}
